.form__input-error {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    display: flex;
    align-self: start;
    box-sizing: border-box;
    width: 358px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 550px) {
    .form__input-error {
        width: 238px;      
    }
}