.element__delete {
    border: 0;
    background-color: initial;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 1s linear 0.5s;
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__delete:hover {
    opacity: 0.6;
}