.popup-delete__form {
    top:195px;
    width: 430px;
    height: 181px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 34px;
    border-radius: 10px;
}

@media screen and (max-width: 650px) {
    .popup-delete__form {
        top: 21.5%;
    }
}

@media screen and (max-width: 550px) {
    .popup-delete__form {
        max-width: 282px;
        padding-top: 25px;
    }
}